:root {
    --primary-dark-color: #2E2F42;
    --primary-light-color: #FFFF;
    --main-color-text: #434455;
    --accent-color: #E7E9FC;
    --presed-state-btn: #404BBF;
    --primary-brand-color: #4D5AE5;
    --light-background-color: #F4F4FD;
    --modal-background-color: #FCFCFC;
    --valid-field: #31D0AA;
    --color-text-modal: #8E8F99;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

a {
text-decoration: none;
}

li {
list-style: none;
}

button {
    border: 1px solid transparent;
    cursor: pointer;
}

address {
    font-style: normal;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-dark-color);
    letter-spacing: 0.02em;  
}

body.modal-open {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;    
}

.container {
    padding-left: 16px;
    padding-right: 16px;
}



.logo-header {
    font-family: 'Raleway', sans-serif ;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: inherit;
}

.logo-brand {
    color: var(--primary-brand-color);
}


.mobile-menu-open {
    background-color: transparent;
    border: none;
    color: black;
    padding: 0;
    width: 32px;
}

/* .mobil-menu-container {
    position: relative;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 40px;

    
} */


.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--primary-light-color);
    z-index: 100;
    padding: 80px 40px 40px 40px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.icon-hamburger {
    stroke: var(--primary-dark-color);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--accent-color);
    transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}


.mobil-menu-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobil-menu-social-item:not(:last-child) {
    margin-right: 56px;
}


.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--light-background-color);
}

.social-link-main {
    background-color: var(--primary-brand-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.mobil-menu-social-icon {
    width: 24px;
    height: 24px;
    fill: currentColor; 
}
.social-link-main:hover,
.social-link-main:focus {
    background-color: var(--presed-state-btn);

}


.mobil-menu-nav-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobil-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: inherit;
    transition: color 250ms var(--cubic);
    
}

.mobil-menu-nav-link:hover,
.mobil-menu-nav-link:focus {
    color: var(--presed-state-btn);
}

.mobil-menu-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.tel-list-item {
    margin-bottom: 40px;
}
.mail-list-item {
    margin-bottom: 48px;
}

.mobil-menu-email-link {
    color: inherit;
    font-size: 20px;
    line-height: 1.2;
    transition: color 250ms var(--cubic);
}

.mobil-menu-tel-link {
    color: inherit;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
}


.mobil-menu-email-link:hover,
.mobil-menu-email-link:focus 
{
    color: var(--primary-brand-color);
    }

.mobil-menu-tel-link:hover,
.mobil-menu-tel-link:focus
{
    color: var(--primary-brand-color);
    }

/* ====================HERO================== */
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-hero-mobile.jpg);
    background-color: rgba(46, 47, 66, 0.7);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 428px;
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px),
(-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
(min-resolution: 192dpi) and (max-width: 767px),
(min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-hero-mobile@2x.jpg);
    }
}
.hero-wrapper {
    text-align: center;
}

.hero-title { 
    color: var(--primary-light-color);
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
    
}

.hero-btn {
    color: var(--primary-light-color);
    background-color: var(--primary-brand-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    

    transition: background-color 250ms var(--cubic);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--presed-state-btn);
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.feature-item-list:not(:last-child) {
    margin-bottom: 72px;
}

.feature-subtitle {
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 8px;
    text-align: center;
}

.feature-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}


.customers-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 72px;

}

.customers-list-item {
    flex-basis: calc((100% - 16px) / 2);
}

.customers-link {
    color: #8e8f99;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 31px;
    border: 1px solid #8E8F99;
    border-radius: 4px;

    transition: border 250ms var(--cubic), color 250ms var(--cubic);
}

.customers-icon {
    width: 110px;
    height: 56px;
    fill: currentColor;
}

.customers-link:focus,
.customers-link:hover {
    border: 1px solid var(--presed-state-btn);
    color: var(--presed-state-btn);
}

.footer-page {
    background-color: var(--primary-dark-color);
}



    
.footer-logo {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    color: var(--light-background-color);
}


.footer-text {
    color: var(--accent-color);
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}


.footer-social-title  {
    color: var(--primary-light-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
    
}

.social-list-footer {
    display: flex;
    justify-content: center;
}

.social-link-footer {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--cubic);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: var(--valid-field);
}
.form-subscribe {
    width: 100%;
}

.footer-subscribe-title {
    color: var(--primary-light-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;

}


.subscribe-email {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 16px;
}

.btn-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    padding: 8px 24px 8px 24px ;
    background-color: var(--primary-brand-color);
    border-radius: 4px;
    letter-spacing: 0.04em;
    color: var(--light-background-color);
    
    
    transition: background-color 250ms var(--cubic);
}

.btn-subscribe:hover, 
.btn-subscribe:focus {
    background-color: var(--presed-state-btn);}




.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    padding: 96px 18px;
    overflow-y: scroll;
    
    
    transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.5);
}


.modal {
    /* position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%) scale(1); */
   

    /* min-width: 408px; */
    padding: 72px 24px 24px 24px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: scale(1);
    
    transition: translate 250ms var(--cubic), scale 250ms var(--cubic);
}




.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--accent-color);

    transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}
    
.modal-btn-close:hover, .modal-btn-close:focus {
    background-color: var(--presed-state-btn);
}

.modal-btn-close:hover, .modal-btn-close:focus + .modal-btn-close-icon {
    fill: var(--primary-light-color);
}


.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--primary-dark-color);
    margin-bottom: 16px;
}


.modal-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.form-modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--color-text-modal);
    margin-bottom: 4px;
}

.form-modal-input {
    width: 100%;
    height: 40px;
    background-color: var(--modal-background-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: transparent;
    border-radius: 4px;
    padding-left: 38px;
}

.form-modal-comment {
    width: 100%;
    height: 120px;
    padding: 8px 16px 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: var(--modal-background-color);
    resize: none;
    outline: transparent;

}

.form-modal-comment::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-field-check {
    margin-top: 16px;
    margin-bottom: 24px;
}

.modal-btn-send {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--light-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--primary-brand-color);
    transition: background-color 250ms var(--cubic);
}

.modal-btn-send:hover, .modal-btn-send:focus {
    background-color: var(--presed-state-btn);
}

.wrap-input {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}


.form-modal-input:focus, .form-modal-comment:focus {
    border: 1px solid var(--primary-brand-color);
}

.form-modal-input:focus + .input-icon {
    fill: var(--primary-brand-color);
}   


.modal-check-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;

    
}
.wrap-chek-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--primary-dark-color);
    border-radius: 2px;
    margin-right: 8px;
    fill: transparent;

    transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);
}


.modal-check:checked + .modal-check-label > .wrap-chek-icon {
    background-color: var(--presed-state-btn);
    border: none;
    fill: var(--primary-light-color);
    
}

.label-link {
    padding-left: 3px;
    color: var(--primary-brand-color);
} 

.team {
    background: var(--light-background-color);
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-title {
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}



.team-item-list {
    background: var(--primary-light-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}


.team-card {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-subtitle {
    margin-bottom: 8px;
}

.team-text {
    margin-bottom: 8px;}

.social-list-team {
    display: flex;
    justify-content: center;
}


.social-list-item:not(:last-child) {
    margin-right: 16px;
}

.social-link-team {
    background-color: var(--primary-brand-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-team:hover,
.social-link-team:focus {
    background-color: var(--presed-state-btn);

}

/* =====  480px +++  ====== */
@media screen and (min-width: 480px) {
    .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
    }


/* .hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tablet.jpg);
    background-size: cover;
    }

@media (min-device-pixel-ratio: 2) and (min-width: 480px),
(-webkit-min-device-pixel-ratio: 2) and (min-width: 480px),
(min-resolution: 192dpi) and (min-width: 480px),
(min-resolution: 2dppx) and (min-width: 480px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tablet@2x.jpg);
    }
} */

.modal {
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 408px;
    width: 100%;
    min-height: 586px; 
    }

.subscribe-email {
    width: 398px;}

}


@media screen and (max-width: 767px) {
.main-nav {
        display: none;
    }

    .address {
        display: none;
    }


.hero-wrapper {
    padding-top: 112px;
    padding-bottom: 112px;
    
}

.header-page {
    padding-top: 24px;
    padding-bottom: 24px;
}

.address-list-item:not(:last-child) {
    margin-bottom: 4px;}

.wrapper-logo-text {
    margin-bottom: 72px;
}
.wrap-logo-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px;
    margin: 0 auto;
}




.footer-social-title  {
    text-align: center;
}
.footer-subscribe-title {
    text-align: center;
}

.footer-logo {
    display: block;
    text-align: center;
}

.btn-subscribe {
    margin-left: auto;
    margin-right: auto;
}

.team-item-list:not(:last-child) {
    margin-bottom: 72px;
}



}  




@media screen and (min-width: 768px) {
.container {
    width: 768px;
}

.mini-container {
    width: 582px;
}
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tablet.jpg);
    max-width: 768px
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
(-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
(min-resolution: 192dpi) and (min-width: 768px),
(min-resolution: 2dppx) and (min-width: 768px) {
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tablet@2x.jpg);
    }
}

.mobile-menu {
    display: none;
}
.mobile-menu-open {
    display: none;
    }
    
.nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.hero-wrapper {
padding: 112px 136px 108px 136px;}

.hero-title {
    margin-bottom: 40px;
}

.main-nav {
    display: flex; 
}
.nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: inherit;
    transition: color 250ms var(--cubic);
    padding-bottom: 24px;
    padding-top: 24px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--primary-brand-color);
}

.nav-list-item:not(:last-child) {
    margin-right: 40px;
}

.nav-list-item {
    position: relative;
}

.activ-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--presed-state-btn);
}

.activ-link {
    color: var(--presed-state-btn);
}
.logo-header {
    margin-right: 123px;
}
.address {
    margin-left: auto;
}
.address-link {
    color: var(--main-color-text);
    font-size: 12px;
    line-height: 1.33;
    transition: color 250ms var(--cubic);
}

.address-link:hover,
.address-link:focus {
    color: var(--primary-brand-color);
    }

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    
}


.feature-subtitle {
    text-align: left;
}

.team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    
}

.team-item-list {
    width: calc((100% - 24px) / 2);
}

.customers-list-item {
    flex-basis: calc((100% - 2*24px) / 3);
}
.customers-icon {
    width: 104px;}

.wrap-logo-social {
    display: flex;
    align-items: baseline;
    margin-bottom: 72px;
}

.form-subscribe {
    display: flex;
    
} 



.wrapper-logo-text {
    margin-right: 24px;
}

.subscribe-email {
    width: 264px;
    margin-right: 24px;
}

.footer-wrapper {
    max-width: 552px;
}
}




@media screen and (max-width: 1199px) {
.feature-icon {
    display: none;
}

.work {
        display: none;
    }

.feature-item-list {
    flex-basis: calc((100% - 1 * 24px) / 2);
    margin-right: 24px;
}

.feature-item-list:nth-child(2n) {
    margin-right: 0;
}

}


@media screen and (min-width: 1200px) {
    .container {
    width: 1158px;
}

.address-list {
    display: flex;
}
.address-list-item:not(:last-child) {
    margin-right: 40px;
} 
.logo-header {
    margin-right: 123px;
}

.hero-wrapper {
    padding: 0;
    padding-top: 188px;
    padding-bottom: 188px;
    margin-left: auto;
    margin-right: auto
}
.hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-hero.jpg);
    }

@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
(-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
(min-resolution: 192dpi) and (min-width: 1200px),
(min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-desktop@2x.jpg);
    }
}

.hero {
    margin: 0 auto;
    max-width: 1440px;
}
.hero-title {
    margin-bottom: 48px;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.feature-item-list {
    flex-basis: calc((100% - 72px) / 4);
}



.feature-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 112px;
    border-radius: 4px;
    background: var(--light-background-color);
    margin-bottom: 8px;
}

.feature-icon {
    width: 64px;
    height: 64px;
}


.feature-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.feature-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.work-wrapper {
    padding-bottom: 120px;
}
.work-list {
    display: flex;
    flex-wrap: wrap;
}

.work-item {
    flex-basis: calc((100%-48px)/3);
}

.work-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}  

.team-item-list {
    width: calc((100% - 72px) / 4);
}

.customers-list-item {
    flex-basis: calc((100% - 120px) / 6);
}

.footer-wrapper {
    display: flex;
    justify-content: baseline;
}
.wrapper-logo-text {
    margin-right: 120px;
}

.wrap-logo-social {
    margin-right: 80px;
}
.footer-wrapper {
    max-width: 100%;
}

.wrap-logo-social {
    margin-bottom: 0;
}
}







